<div class="container">
    <div class="row mt-2">
        <div class="col col-md-4 offset-md-4">
            <a class="btn btn-primary" routerLink="/home/add">Add Book</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">N.</th>
                <th scope="col">Title</th>
                <th scope="col">Publisher</th>
                <th scope="col">Author</th>
                <th scope="col">Released</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books$ | async; let i = index">
                <th scope="row">{{ i }}</th>
                <td>{{ book.title }}</td>
                <td>{{ book.publisher }}</td>
                <td>{{ book.author.name }}</td>
                <td>{{ book.released?.year }}</td>
                <td>
                    <a class="btn btn-primary" [routerLink]="['edit', book.id]">Edit</a>
                    <button type="button" class="btn btn-primary space-around" data-bs-toggle="modal"
                        data-bs-target="#deleteModal" (click)="idToDelete = book.id">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure to delete this book ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" (click)="deleteBook(idToDelete)" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>